{erl_opts, [debug_info,
            warn_missing_spec,
            {i, [".", "include"]}
           ]}.

{require_otp_vsn, "(^1[89])|^20"}.

{deps, [
        {base16,   "1.0.0"},
        {fusco,    "0.1.0"},
        {gun,      "1.0.0-pre.4"},
        {meck,     "0.8.9"},
        {uuid,     "1.7.2", {pkg, uuid_erl}},
        {exml,     {git, "https://github.com/esl/exml",             {ref, "013fc58"}}},
        {mustache, {git, "https://github.com/mojombo/mustache.erl", {branch, "master"}}},
        {wsecli,   {git, "https://github.com/esl/wsecli",           {branch, "master"}}}
]}.
{relx, [{release, {escalus, "0.0.1"},
         [escalus]},
        {dev_mode, true},
        {sys_config, "./sys.config"},
        {include_erts, false}
       ]}.
{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.
{ct_opts, [{config, "test/test.config"}]}.
{dist_node, [
             {setcookie, 'ejabberd'},
             {sname, 'rebar3ct'}
            ]}.
