{erl_opts, [debug_info,
            warn_missing_spec,
            {i, [".", "include"]}
           ]}.

{require_otp_vsn, "(^1[89])|^20"}.

{deps, [
  {base16,   "1.0.0"},
  {meck,     "0.8.4"},
  {ranch,    "1.4.0"},
  {uuid,     "1.7.2", {pkg, uuid_erl}},
  {exml,     {git, "https://github.com/esl/exml",             {tag, "2.4.1"}}},
  {fusco,    {git, "https://github.com/esl/fusco",            {branch, "master"}}},
  {wsecli,   {git, "https://github.com/esl/wsecli",           {branch, "master"}}},
  {mustache, {git, "https://github.com/mojombo/mustache.erl", {branch, "master"}}},
  {cowlib,   {git, "https://github.com/ninenines/cowlib",     {ref, "e4da207"}}},
  {gun,      {git, "https://github.com/ninenines/gun",        {tag, "1.0.0-pre.4"}}}
]}.
{relx, [{release, {escalus, "0.0.1"},
         [escalus]},
        {dev_mode, true},
        {sys_config, "./sys.config"},
        {include_erts, false}
       ]}.
{eunit_compile_opts, [{d,'EUNIT_TEST',true}]}.
{ct_opts, [{config, "test/test.config"}]}.
{dist_node, [
             {setcookie, 'ejabberd'},
             {sname, 'rebar3ct'}
            ]}.
